<main>
  <!--<h1 class="title">Hello from Angular !</h1>-->

  <!--&lt;!&ndash; Images (and assets) are parsed and loaded from within the public directory &ndash;&gt;-->
  <!--<img src="/img/logo.png">-->


  <p ng-class="{___strike__: deleted, ___bold__: important, '___has-error__': error}">Map Syntax Example</p>
  <label>
    <input type="checkbox" ng-model="deleted">
    deleted (apply "strike" class)
  </label><br>
  <label>
    <input type="checkbox" ng-model="important">
    important (apply "bold" class)
  </label><br>
  <label>
    <input type="checkbox" ng-model="error">
    error (apply "has-error" class)
  </label>
  <hr>
  <p class="{{style | myFilter}}">Using String Syntax</p>
  <input type="text" ng-model="style"
         placeholder="Type: bold strike red" aria-label="Type: bold strike red">
  <hr>
  <p class="{{[style1, style2, style3] | myFilter}}">Using Array Syntax</p>
  <input ng-model="style1"
         placeholder="Type: bold, strike or red" aria-label="Type: bold, strike or red"><br>
  <input ng-model="style2"
         placeholder="Type: bold, strike or red" aria-label="Type: bold, strike or red 2"><br>
  <input ng-model="style3"
         placeholder="Type: bold, strike or red" aria-label="Type: bold, strike or red 3"><br>
  <hr>
  <p class="{{[style4, {orange: warning}] | myFilter}}">Using Array and Map Syntax</p>
  <input ng-model="style4" placeholder="Type: bold, strike" aria-label="Type: bold, strike"><br>
  <label><input type="checkbox" ng-model="warning"> warning (apply "orange" class)</label>


  <hr>
  <p ng-class="style">Using String Syntax</p>
  <input type="text" ng-model="ctx"
         placeholder="Type: int" aria-label="Type: int">

  <p>
    <a href="#" ng-class="{___selected__: ctx > 5}">link</a>
  </p>
</main>
<footer>
  <a ng-href="{{app.url}}">Webpack Angular Starter</a>
</footer>